@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap');

:root {
    --headers-color: hsl(234, 53%, 16%);
    --btn1-hover-color: hsl(234, 25%, 52%);
    --text-color: hsla(233, 10%, 56%, 1);
    --dark-pink: hsl(341, 92%, 62%);
    --light-pink: hsl(341, 100%, 83%);
    --white: hsl(0, 0%, 100%);
    --bg-color: hsl(0, 0%, 95%);

    --ff-primary: 'Plus Jakarta Sans', sans-serif;

    --fw-regular: 500;
    --fw-body: 700;
    --fw-heading: 800;

    --fs-heading-xl: 3.5rem;
    --fs-heading-l: 2.5rem;
    --fs-heading-m: 2rem;
    --fs-heading-s: 1.5rem;
    --fs-heading-xs: 1.25rem;
    --fs-body-m: 1.125rem;
    --fs-body-s: 1rem;

    --fs-h1: var(--fs-heading-xl);
    --fs-h2: var(--fs-heading-m);
    --fs-h3: var(--fs-heading-s);
    --fs-body-paragraph: var(--fs-body-m);
    --fs-body-anchor: var(--fs-body-m);

    --lh-heading-xl: 4.375rem;
    --lh-heading-l: 3.1875rem;
    --lh-heading-m: 2.5rem;
    --lh-heading-s: 1.75rem;
    --lh-heading-xs: 1.575rem;

    --lh-body-s: 1.625rem;

    --lh-h1: var(--lh-heading-xl);
    --lh-h2: var(--lh-heading-m);
    --lh-h3: var(--lh-heading-s);
    --lh-body-paragraph: var(--lh-heading-s);
    --lh-body-anchor: var(--lh-heading-s);
}

/* Tablet */
@media (max-width: 48rem) {
    :root {
        --fs-h1: var(--fs-heading-l);
        --fs-h2: var(--fs-heading-s);
        --fs-h3: var(--fs-heading-xs);
        --fs-body-paragraph: var(--fs-body-s);

        --lh-h1: var(--lh-heading-l);
        --lh-h2: var(--lh-heading-s);
        --lh-h3: var(--lh-heading-xs);
        --lh-body-paragraph: var(--lh-body-s);
    }
}

/* Mobile */
@media (min-width: 23.4375rem) {}

body {
    min-height: 100vh;
    font-family: var(--ff-primary);
    background: linear-gradient(180deg, hsl(0, 0%, 100%) 0%, hsl(236, 100%, 97%) 100%);
}

footer {
    background-color: var(--headers-color);
    width: 100%;
}

.logo-container {

    padding: 2rem;
    min-width: 70rem;
}

h1,
h2,
h3 {
    font-weight: var(--fw-heading);
}

h1 {
    color: var(--headers-color);
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
}

h2 {
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
}

h3 {
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
}

p {
    color: var(--text-color);
    font-size: var(--fs-body-paragraph);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-paragraph);
}

.container {
    --max-width: 69.375rem;
    --side-margins: 1rem;

    width: min(var(--max-width), 100% - (var(--side-margins) * 2));
    margin-inline: auto;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text-container p {
    margin: 1.8125rem 0 2.5rem;
}

.hero-img {
    background-image: url('./assets/image-hero-desktop.webp');
    width: 1000px;
    height: 800px;
    position: relative;
    z-index: -1;
    right: 0;
    top: 0;
    /* left: 49rem; */
    top: -9.1331rem;
}

.cards {
    display: grid;
    grid-template-rows: repeat(2, 20.125rem);
    grid-template-columns: repeat(3, 21.875rem);
    column-gap: 1.875rem;
    row-gap: 3.5rem;
    margin-bottom: 8.75rem;
}

.main-card {
    background: linear-gradient(180deg, hsl(13, 100%, 64%) 0%, hsl(322, 87%, 55%) 100%);
    color: var(--white);
}

.card {
    background-color: var(--white);
    padding: 4rem 2rem 2.5rem;
    border-radius: .9375rem;
    position: relative;
}

.card img {
    position: absolute;
    top: -1.5rem;
    left: 2rem;
    width: 3.5rem;
}

.card a {
    color: var(--dark-pink);
    font-weight: var(--fw-body);
    font-size: var(--fs-body-anchor);
    line-height: var(--lh-body-anchor);
    position: absolute;
    bottom: 2.5rem;
    text-decoration: none;
}

.card a:hover {
    color: var(--light-pink);
}

.buttton {
    cursor: pointer;
    font-family: var(--ff-primary);
    color: var(--white);
    font-weight: var(--fw-body);
    font-size: var(--fs-body-paragraph);
    line-height: var(--lh-body-paragraph);
    border-radius: 1.75rem;
    border: 0;
    padding: .875rem 1.9375rem;
}

.btn1 {
    background-color: var(--headers-color);
}

.btn1:hover {
    background-color: var(--btn1-hover-color);
}

.btn2 {
    background: linear-gradient(180deg, hsl(13, 100%, 64%) 0%, hsl(322, 87%, 55%) 100%);
    border-radius: 31.5008px;
}

.btn2:hover {
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)), linear-gradient(180deg, hsl(13, 100%, 64%) 0%, hsl(322, 87%, 55%) 100%);
}

.btn3 {
    background: linear-gradient(180deg, hsl(237, 100%, 64%) -54.32%, hsl(322, 87%, 55%) 100%);
}

.btn3:hover {
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)), linear-gradient(180deg, hsl(237, 100%, 64%) -54.32%, hsl(322, 87%, 55%) 100%);
}