@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap');

:root {
    --headers-color: hsl(234, 53%, 16%);
    --btn1-hover-color: hsl(234, 25%, 52%);
    --text-color: hsla(233, 10%, 56%, 1);
    --dark-pink: hsl(341, 92%, 62%);
    --light-pink: hsl(341, 100%, 83%);
    --white: hsl(0, 0%, 100%);
    --bg-color: hsl(0, 0%, 95%);
}

body {
    min-height: 100vh;
    margin: 0 10.3125rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

footer {
    background-color: var(--headers-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

h1,
h2,
h3 {
    font-weight: 800;
}

h1 {
    font-size: 3.5rem;
    line-height: 4.375rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.hero {
    display: flex;
}

.hero-text-container {
    width: 50%;
}

.hero-img img {
    position: absolute;
    left: 784px;
    top: -146.13px;

}

.cards {
    display: grid;
    column-gap: 1.875rem;
    row-gap: 5rem;
    background: linear-gradient(180deg, hsl(0, 0%, 100%) 0%, hsl(236, 100%, 97%) 100%);
    ;
}

.main-card {
    background: linear-gradient(180deg, hsl(13, 100%, 64%) 0%, hsl(322, 87%, 55%) 100%);
    border-radius: .9375rem;
    color: var(--white);
}

.btn1,
.btn2,
.btn3 {
    color: var(--white);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border-radius: 1.75rem;
    border: transparent;
    padding: .875rem 1.9375rem;
    cursor: pointer;
}

.btn1 {
    background-color: var(--headers-color);
}

.btn1:hover {
    background-color: var(--btn1-hover-color);
}

.btn2 {
    background: linear-gradient(180deg, hsl(13, 100%, 64%) 0%, hsl(322, 87%, 55%) 100%);
    border-radius: 31.5008px;
}

.btn2:hover {
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)), linear-gradient(180deg, hsl(13, 100%, 64%) 0%, hsl(322, 87%, 55%) 100%);
}

.btn3 {
    background: linear-gradient(180deg, hsl(237, 100%, 64%) -54.32%, hsl(322, 87%, 55%) 100%);
}

.btn3:hover {
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)), linear-gradient(180deg, hsl(237, 100%, 64%) -54.32%, hsl(322, 87%, 55%) 100%);
}